*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font: 100 14px 'inter', sans-serif;
}

nav{
    background-color:black;
    width: 100%;
    
    
}
nav,ul{
    display:inline-block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    


}
nav ul button{
    border: none;
    background-color: black;
    color:white;
    font-size: 20px;
}


.inicio{
	padding-top:20px;
	padding-left: 40px;
    background-color: gray;
}
#Titulo{
    margin-top: 100px;
    margin-left: 20px;
    display: inline-block;
    vertical-align:top;   
    font-size: 60px;
    color: white;
 
 }
.bus_prest #titulo_buscar{ 
	padding-top:30px;
	padding-left:63px;
    font-size: 30px;
}
.bus_prest label{
    font-size: 20px;
    margin-left: 63px;
    
}

.bus_prest input{
    margin-left: 10px
}

.tabla{
    margin-left: 30px;
}